@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
main .site-header{
    background: url('../images/page2.jpg');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-header .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-header, h3{
    margin: .3rem;
}

main .site-header .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-header .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/contact.jpeg');
    background-size: cover;
}
.contact .content{
    max-width: 850px;
    text-align: center;
}
.contact .content h2{
    font-size: 40px;
    font-weight: 500;

}
.contact .content p{
    font-weight: 300;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px ;
    margin-bottom: 0px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display:flex ;
}
.container .contactInfo .box .icon{
    min-width: 50px;
    height: 60px;
    background: rgba(103, 102, 148, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display:flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction:column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: darkcyan;
}
.contactform{
    width: 42%;
    padding: 40px;
    background: radial-gradient(ellipse at top, #c7d6e2, transparent),
    radial-gradient(ellipse at bottom, #a093a3, transparent);

}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.Sign{
    position: relative;
    min-height: 90vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Sign .hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/sign.jpeg');
    background-position: center;
    background-size: cover;
    position: absolute;
}
.Sign .hero .form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position :relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btnco{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height:100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s;

}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.6s;
}
.input-group .field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.input-group .Submit-Btn{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin:30px 10px 30px 0;
}
.check-box span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
.check-box .ab{
    font-family: 'Georama', sans-serif;
}
#signin{
    left: -20px;

}
#register{
    left: 450px;
    
}

@media (max-width: 900px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactform{
        width: 100%;
    }
}